.ReactStickyHeader_fixed {
  background: #1a1a1a;
}

.sticky-wrapper {
  position: relative;
  margin-top: -8em !important;
  height: 8em;
  background: #1a1a1a;
}

.sticky-inner {
  background: #1a1a1a;
}

.sticky .sticky-inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 8em;
  background: #1a1a1a;
}

.header-title {
  text-align: center;
  color: #d1cdc7;
}

.login-signup-buttons {
  position: fixed;
  right: 10px;
  top: 0px;
}

.login-signup-buttons button {
  display: block;
  width: 100%;
}

@media screen and (max-width: 2400px) {
  .login-signup-buttons button,
  .login-signup-buttons:hover {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .login-signup-buttons button,
  .login-signup-buttons button:hover {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .login-signup-buttons button,
  .login-signup-buttons button:hover {
    font-size: 12px;
  }
}
