#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
  width: 10%;
  height: 10%;
=======
  width: 12%;
  height: 7%;
>>>>>>> dbee82dcacf837b15373f1abeb98cee23d1dc71e
  padding-bottom: 5px;
}
