#container {
  padding-left: 2em;
  padding-top: 2em;
  background-color: #2d2d2d;
  color: #d1cdc7;
  text-align: center;
}

div.css-yk16xz-control {
  margin-left: 5%;
  margin-right: 10%;
  width: 90%;
  height: 90%;
}

#filter-title {
  padding-top: 5%;
}

.css-2b097c-container {
  color: black;
}

#all-shows-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#search-container {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 20rem;
  padding: 0.5rem;
  display: block;
}

#pop-shows-header {
  color: green;
  -webkit-text-stroke: 1px black;
}

.show-images {
  width: 55%;
  z-index: 0;
  position: relative;
}

h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

@media screen and (max-width: 2400px) {
  .my-shows-button,
  .my-shows-button:hover,
  #no-shows {
    font-size: 16px;
  }
  #ad {
    font-size: 18px;
  }
  #profile-title,
  #title {
    font-size: 22px;
  }

  .show-images {
    width: 55%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 992px) {
  .my-shows-button,
  .my-shows-button:hover,
  #no-shows {
    font-size: 14px;
  }
  #ad {
    font-size: 20px;
  }
  #profile-title,
  #title {
    font-size: 20px;
  }
  .show-images {
    width: 46%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 650px) {
  .my-shows-button,
  .my-shows-button:hover,
  #no-shows {
    font-size: 12px;
  }

  #ad {
    font-size: 17px;
  }
  #profile-title,
  #title {
    font-size: 15px;
  }
  .show-images {
    width: 36%;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 500px) {
  .my-shows-button,
  .my-shows-button:hover,
  #no-shows {
    font-size: 10.5px;
  }
}
