#login-container {
  margin-top: 10em;
  padding-left: 2em;
  padding-right: 2em;

  text-align: center;
}

.form-fields label {
  padding-bottom: 5%;
}

#login-form {
  margin-top: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.error-message-login {
  color: red;
}

#login-form input {
  margin-bottom: 1em;
}

.login-links {
  color: #acf39d;
}

.login-links:hover {
  color: #3cdd1b;
}

.error {
  color: red;
}

#login-button {
  font-size: 18px;
  border: 2px solid #84ed6f;
  background-color: #666666;
  color: #84ed6f;
  padding: 0.5em 1em 0.5em 1em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 2400px) {
  .header h1 {
    font-size: 35.5px;
  }

  .form-fields p,
  .form-fields label {
    font-size: 20px;
  }

  #login-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .header h1 {
    font-size: 35px;
  }

  .form-fields p,
  .form-fields label {
    font-size: 20px;
  }

  #login-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 24px;
  }

  .form-fields p,
  .form-fields label {
    font-size: 16px;
  }
  #login-button {
    font-size: 13px;
  }
}
