@media screen and (max-width: 2400px) {
  .footer-links, #trakt-power {
    font-size: 18px;
  }

  #trakt-logo {
    width: 3%;
  }
}

@media screen and (max-width: 1600px) {
  .footer-links, #trakt-power {
    font-size: 17px;
  }

  #trakt-logo {
    width: 4%;
  }
}

@media screen and (max-width: 992px) {
  .footer-links, #trakt-power {
    font-size: 16px;
  }

  #trakt-logo {
    width: 5%;
  }
}

@media screen and (max-width: 650px) {
  .footer-links, #trakt-power {
    font-size: 14px;
  }

  #trakt-logo {
    width: 6%;
  }
}

.footer-container {
  box-shadow: 0 50vh 0 50vh #262626;
}

#trakt-logo {
  position: absolute;
  right: .5em;
}

#trakt-power {
  color: #000000;
  position: absolute;
  right: 4.5em;
  padding-bottom: 0;
}