.ReactStickyHeader_fixed {
    background: #262626;
}

.header-title {
    text-align: center;
    color: #D1CDC7;
}

.bm-burger-button {
    position: relative;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 7%;
}
