.ReactStickyHeader_fixed {
    background: #202020;
}

.header-title {
    text-align: center;
    color: #D1CDC7;
}

.login-signup-buttons {
    position: absolute;
    right: 10px;
    top: 0px;
}

.login-signup-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
