.full-img, .full-text {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    margin-top: 2.5em;
    padding: 0;
}

.home {
    margin-top: 12em;
}
@media screen and (max-width: 1800px) {
  .full-img{
    font-size: 18px;
  }

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .full-text {
    font-size: 15px;
  }
  
}

@media screen and (max-width: 650px) {
  .full-text {
  font-size: 12px;
}
.full-img {
  width:95%;
}


}


