.full-img, .full-text {
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header {
    margin-top: 2.5em;
    padding: 0;
}

.home {
    margin-top: 12em;
}


