.description {
  width: 100%;
  text-align: center;
  background-color: lightgray;
}

.description input {
  width: 50%;
}

button {
  margin: 2em;
  border: none;
  background: #acf39d;
  padding: 1em 2em 1em 2em;
}

.main {
  width: 90%;
  background-color: rgb(142, 221, 217);
}
.show-details {
  float: left;
  width: 60%;
  background-color: rgb(149, 103, 202);
}

.show_content {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
#cover {
  width: 35%;
  float: left;
  padding: 1em;
}

#clear {
  clear: both;
}

button {
  margin: 2em;
  border: none;
  background: #e6e6e6;
  padding: 1em 2em 1em 2em;
}

textarea {
  height: 20%;
}
.progress {
  width: 20%;
}
