.main-container {
    margin-top: 5.25em;
}

.description {
  width: 100%;
  text-align: center;
  background-color:#2d2d2d;
  color: #D1CDC7; 
}

.description input {
  width: 50%;
}

.main {
  width: 90%;
  background-color:#2d2d2d;
  color: #D1CDC7; 
}
.showDetails {
  float: left;
  width: 60%;
  background-color:#2d2d2d;
}

.showContent {
    margin-top: 0px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #2d2d2d;;
}

#cover {
  width: 25%;
  float: left;
  padding: .5em;
}

#clear {
  clear: both;
}
#btn-progress{
  margin-top: 3%;
}
.label-custom {
    margin: 1em;
    font-size: 16px;
    background-color: #666666;
    color: #D1CDC7 ;
    padding: 1em 1em 1em 1em;
    margin-bottom: 3%;
margin-top: 3%;

}

.platform{
  margin: .75em;
  font-size: 16px;
  color: #D1CDC7 ;
  padding: 1em 1em 1em 1em;
}


.btn-progress {
  margin: 1em;
  margin-top: 0;
  border: 2px solid #84ED6F;
  background-color: #666666;
  color: #84ED6F;
  padding: 1em 2em 1em 2em;
}

.btn-progress:hover {
  border: 2px solid #3CDD1B;
  background-color: #2D2D2D;
  color: #3CDD1B;
}

#episode, #season,  #description{
  margin: .3em;
  font-size: 16px;
  background-color: whitesmoke;
  color: #2D2D2D;
  padding: 1em 1em 1em 1em;
}
#episode:hover, #season:hover, #description:hover {
  border: 2px solid #D1DCD7;
  background-color: #2D2D2D;
  color: #D1DCD7;
}

.descript, span{
  font-size: 1.2em;
  font-weight: 3px;
  color: #D1CDC7 ;
}


@media screen and (max-width: 1800px) {
  .btn-progress,
  .btn-progress:hover, .label-custom, #season, #episode, .label-platform, .descript{
    font-size: 16px;
  }
  #profile-title {
    font-size: 22px;
  }
  #show-container img {
    width: 75%;
    padding: 0.1em;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .btn-progress,
  .btn-progress:hover, .label-custom, #season, #episode, .label-platform, .descript{
    font-size: 14px;
  }
  #profile-title {
    font-size: 20px;
  }
  #show-container img {
    width: 66%;
    padding: 0.2em;
  }
}

@media screen and (max-width: 650px) {
  .btn-progress,
  .btn-progress:hover, .label-custom, #season, #episode, .label-platform, .descript{
    font-size: 12px;
  }
  #profile-title {
    font-size: 15px;
  }
  #show-container img {
    width: 55%;
    padding: 0.1em;
  }
}

