
#container {
    padding-left: 2em;
    background-color: #2d2d2d;
    color: #D1CDC7; 

}

#show-container {
    display: flex;
    flex-wrap: wrap;
}

#show-container img {
    height: 150px;
    width: 100px;
    padding: 1em;
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 20rem;
    padding: 0.5rem;
    display: block;
}

#filter-container {
    display: flex;
    justify-content: space-around;
}

.filter-button {
    margin: 2em;
    font-size: 18px;
    border: 2px solid #84ED6F;
    background-color: #666666;
    color: #84ED6F;
    padding: 1em 2em 1em 2em;
}

.my-shows-button {
    margin: 2em;
    font-size: 18px;
    border: 2px solid #84ED6F;
    background-color: #666666;
    color: #84ED6F;
    padding: 1em 2em 1em 2em;
}

.my-shows-button:hover {
    border: 2px solid #3CDD1B;
    background-color: #2D2D2D;
    color: #3CDD1B;
}

.selected {
    margin: 2em;
    font-size: 18px;
    border: 2px solid #666666;
    color: #666666;
    padding: 1em 2em 1em 2em;
    background-color: #ACF39D;
}

.selected:hover {
    border: 2px solid #4D4D4D;
    background-color: #84ED6F;
    color: #4D4D4D;
}
