
#container {
    padding-left: 2em;
    padding-right: 2em;
}

#show-container {
    display: flex;
    flex-wrap: wrap;
}

#show-container img {
    height: 150px;
    width: 100px;
    padding: 1em;
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 20rem;
    padding: 0.5rem;
    display: block;
}

#filter-container {
    display: flex;
    justify-content: space-around;
}

.filter-button {
    margin: 2em;
    font-size: 18px;
    background: #84ED6F;
    padding: 1em 2em 1em 2em;
}
.filter-button:hover {
    background: #3CDD1B;
}

.my-shows-button {
    margin: 2em;
    font-size: 18px;
    background: #84ED6F;
    padding: 1em 2em 1em 2em;
}

.my-shows-button:hover {
    background: #3CDD1B;
}

.selected {
    margin: 2em;
    font-size: 18px;
    padding: 1em 2em 1em 2em;
    background: #ACF39D;
}

.selected:hover {
    background: #3CCD1B;
}
