#container {
  margin-top: 15em;
  padding-left: 2em;
  background-color: #2d2d2d;
  color: #d1cdc7;
  margin-top: 10%;
}
#search-bar {
  color: black;
}
div.css-yk16xz-control {
  margin-left: 5%;
  margin-right: 10%;

  width: 90%;
  height: 90%;
}

#filter-title {
  padding-top: 5%;
}

.css-2b097c-container {
  color: black;
}

#show-container {
  display: flex;
  flex-wrap: wrap;
}
.modal-contents {
  background-color: #2d2d2d;
  color: #d1cdc7;
}

#show-container img {
  width: 75%;
  padding: 0.5em;
}

#search-container {
  display: flex;
  justify-content: center;
}

#search-bar {
  width: 20rem;
  padding: 0.5rem;
  display: block;
}

#filter-container {
  display: flex;
  justify-content: space-around;
}

.filter-button {
  margin: 2em;
  font-size: 18px;
  border: 2px solid #84ed6f;
  background-color: #666666;
  color: #84ed6f;
  padding: 1em 2em 1em 2em;
  font-size: 1.4vw;
}

.my-shows-button {
  margin: 2em;
  font-size: 18px;
  border: 2px solid #84ed6f;
  background-color: #666666;
  color: #84ed6f;
  padding: 1em 2em 1em 2em;
  font-size: 1.4vw;
}

.my-shows-button:hover {
  border: 1px solid #3cdd1b;
  background-color: #2d2d2d;
  color: #3cdd1b;
  font-size: 1.4vw;
}

.selected {
  margin: 1em;
  font-size: 18px;
  border: 2px solid #666666;
  color: #666666;
  padding: 1em 2em 1em 2em;
  background-color: #acf39d;
}

.selected:hover {
  border: 1px solid #4d4d4d;
  background-color: #84ed6f;
  color: #4d4d4d;
}
.show-images {
  width: 30%;
}

h3 {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}
#apply {
  margin-left: 45%;
  margin-right: 45%;
}

@media screen and (max-width: 2400px) {
  .filter-button,
  .my-shows-button,
  .filter-button:hover,
  .my-shows-button:hover,
  #no-shows {
    font-size: 16px;
  }
  #profile-title,
  #title {
    font-size: 22px;
  }
  #show-container img {
    width: 75%;
    padding: 0.1em;
  }
}

@media screen and (max-width: 992px) {
  .filter-button,
  .my-shows-button,
  .filter-button:hover,
  .my-shows-button:hover,
  #no-shows {
    font-size: 14px;
  }
  #profile-title,
  #title {
    font-size: 20px;
  }
  #show-container img {
    width: 66%;
    padding: 0.2em;
  }
}

@media screen and (max-width: 650px) {
  .filter-button,
  .my-shows-button,
  .filter-button:hover,
  .my-shows-button:hover,
  #no-shows {
    font-size: 12px;
  }
  #profile-title,
  #title {
    font-size: 15px;
  }
  #show-container img {
    width: 55%;
    padding: 0.1em;
  }
}

@media screen and (max-width: 500px) {
  .filter-button,
  .my-shows-button,
  .filter-button:hover,
  .my-shows-button:hover {
    font-size: 10.5px;
  }
}
