#container {
    margin-top: 15em;
    padding-left: 2em;
  padding-right: 2em;
   
}
.modal-contents{
  background-color:#2d2d2d;
  color: #D1CDC7; 
}
#profile-picture {
    margin-top: 3em;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

#profile-text {
  display: inline-block;
  max-width: 75%;
}

#profile-show-container {
  display: flex;
  justify-content: flex-start;
}

#profile-show-container img {
  width: 18%;
  padding: 1em;
}

.profile-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4em;
  margin-top: 5em;
}

.modal-contents h1 {
  padding-top: 3%;
  margin-bottom: 0;
  text-align: center;

}

#settings-form  {
  border: 0px;
  margin-bottom: 5%;
   text-align: center;
    background-color:#2d2d2d;
  color: #D1CDC7; 
}
#settings-form{
  background-color:#2d2d2d;
  color: #D1CDC7;
}


.prof-button {
  font-size: 18px;
  border: 2px solid #84ED6F;
  background-color: #666666;
  color: #84ED6F;
  padding: 1em 2em 1em 2em;
  margin: auto;
}

.prof-button:hover {
  font-size: 18px;
  border: 2px solid #3CDD1B;
  background-color: #2D2D2D;
  color: #3CDD1B;
}



.filter-button {
    margin: 2em;
    font-size: 18px;
    border: 2px solid #84ED6F;
    background-color: #666666;
    color: #84ED6F;
    padding: 1em 2em 1em 2em;
}

.main{
  width: 90%;
  background-color:#2d2d2d;
  color: #D1CDC7; 
  text-align: center;
}

.show-details {
  width: 100%;
  background-color:#2d2d2d;
  text-align: center;
}
.show-content, .main {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #2d2d2d;
  
}
#heading{
  text-align: center;
  background-color: #2d2d2d;;
}

#settings-btn{
  margin-top: 4%;
  padding-top: 4%;
}

.label-custom {
    margin: 2em;
    font-size: 16px;
    background-color: #666666;
    color: #D1CDC7 ;
    padding: 1em 1em 1em 1em;
}



.inputs{
  margin: 1em;
  font-size: 16px;
  background-color: whitesmoke;
  color: #2D2D2D;
  padding: 1em 1em 1em 1em;
}
.inputs:hover {
  border: 2px solid #3CDD1B;
  background-color: #2D2D2D;
  color: #3CDD1B;
}

#settings-title{
  margin-bottom: 3%;
}

#settings-btns{
margin-bottom: 3%;
}

.ReactModal__Body--open{
  background-color: #2D2D2D;
}