#container {
  padding-left: 2em;
  padding-right: 2em;
}

#profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

#profile-text {
  display: inline-block;
}

#show-container img {
  height: 150px;
  width: 100px;
  padding: 1em;
}

.prof-button {
    font-size: 18px;
    background-color: #84ED6F;
}

.prof-button:hover {
    font-size: 18px;
    background-color: #3CDD1B;

}
.prof-button:selected {
  font-size: 18px;
  background-color: #ACF39D;
}
