.signupButton {
  font-size: 18px;
  border: 2px solid #84ed6f;
  background-color: #666666;
  color: #84ed6f;
  padding: 1em 2em 1em 2em;
  margin: auto;
}

.signupButton:hover {
  font-size: 18px;
  border: 2px solid #3cdd1b;
  background-color: #2d2d2d;
  color: #3cdd1b;
}
