#signup-container {
  margin-top: 10em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}


#signup-form {
  padding-top: 1em;
  padding-bottom: 1em;
}



#signup-form input {
  margin-bottom: 1em;
 
}

.signup-links {
    color: #ACF39D;
}

.signup-links:hover {
    color: #3CDD1B;
}

.error {
  color: red;
}

#signup-button {
  font-size: 18px;
  border: 2px solid #84ED6F;
  background-color: #666666;
  color: #84ED6F;
  padding: .5em 1em .5em 1em;
  margin-bottom: .5em;
}

@media screen and (max-width: 2400px) {
  .header h1 {
    font-size: 35.5px;
  }

  .form-fields p,
  .form-fields label, #question {
    font-size: 20px;
  }

  #signup-button {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  .header h1 {
    font-size: 35px;
  }

  .form-fields p,
  .form-fields label, #question {
    font-size: 20px;
  }

  #signup-button {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 24px;
  }
  .form-fields p,
  .form-fields label, #question {
    font-size: 16px;
  }
  #signup-button {
    font-size: 13px;
  }
}

