h1 {
    margin-top: 0;
    padding: 0;
    color: #D1CDC7; 
    background-color: #2d2d2d;

}
body{
    color: #D1CDC7; 
    background-color: #2d2d2d;
}
.header {
    font-size: 32px;
    color: #D1CDC7; 
    background-color: #2d2d2d;
}

.text {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    color: #D1CDC7; 
    background-color: #2d2d2d;
}

.text h1 {
    font-size: 35px;
   
   
}

.text h2 {
    font-size: 24px;
   
}

.text h3 {
    font-size: 20px;
   
}

.text h4 {
    font-size: 24px;
    color: #333333;
}

.text p {
    font-size: 20px;
    margin-left: 15px;
    
}
.text a {
    font-size: 20px;
    color: #ACF39D;
    text-decoration: none;
}
.text a:hover {
    color: #3CDD1B;
    text-decoration: none;
}
