h1 {
  padding: 0;
  color: #d1cdc7;
  background-color: #2d2d2d;
}

body {
  margin-top: 8em;
  color: #d1cdc7;
  background-color: #2d2d2d;
}

.header {
  font-size: 32px;
  color: #d1cdc7;
  background-color: #2d2d2d;
}

.text {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  color: #d1cdc7;
  background-color: #2d2d2d;
}

.text h1 {
  font-size: 35px;
  margin-bottom: 1em;
}

.text h2 {
  font-size: 24px;
  margin-bottom: 1em;
}

.text h3 {
  font-size: 20px;
  text-align: left;
  margin: 0;
  margin-bottom: 1em;
}

.text h4 {
  font-size: 24px;
  color: #333333;
}

.text p {
  font-size: 20px;
  margin-left: 15px;
}

.text a {
  color: #acf39d;
  text-decoration: none;
}

.text a:hover {
  color: #3cdd1b;
  text-decoration: none;
}

.TOC {
  margin-left: 15px;
}

@media screen and (max-width: 2400px) {
  #header-title {
    font-size: 35.5px;
  }

  #contents,
  .text h2 {
    font-size: 33px;
  }

  .text h3 {
    font-size: 31px;
  }

  p {
    font-size: 30px;
  }
  .TOC a,
  .text p,
  .link {
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  #header-title,
  #terms-and-conditions {
    font-size: 35px;
  }
  #contents,
  .text h2 {
    font-size: 28px;
  }

  .text h3 {
    font-size: 22px;
  }

  .TOC a,
  .text p,
  .link {
    font-size: 20px;
  }
}

@media screen and (max-width: 650px) {
  #header-title,
  #terms-and-conditions {
    font-size: 22px;
  }
  #contents,
  .text h2 {
    font-size: 20px;
  }

  .text h3 {
    font-size: 18px;
  }

  .TOC a,
  .text p,
  .text a,
  .link {
    font-size: 16px;
  }
}